@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  color: #fff;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.side-panel {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.resource-container {
  margin-bottom: 1rem;
}

.resource-name,
.resource-amount {
  margin-right: 0.5rem;
}
